* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  border: 2px solid red;
  min-height: 100%;

  font-family: "Electrolize", sans-serif;
  font-size: 30px;

  background-color: rgb(37, 37, 37);
  color: whitesmoke;
}

h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.container {
  border: 2px solid plum;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

header .container {
  /* debug */
  /* border: 2px solid yellow; */
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

.images .container {
  height: 300px;
  /* border: 3px dashed wheat; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 50px;
}

.images button {
  border: 1px solid rgb(37, 37, 37);
  background-color: rgb(37, 37, 37);
  height: 200px;
  width: 200px;
}

.images img {
  height: 200px;
  width: 200px;
  padding: 20px;
  border: 3px dashed wheat;
}

.images img:hover {
  height: 230px;
  width: 230px;
  border: 6px solid gold;
}

.display .container {
  border: 5px dashed wheat;
  padding: 20px 0;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player-comp {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

span {
  display: inline-block;
  /* border: 2px dashed salmon; */
  height: 80px;
  width: 140px;
  line-height: 80px;
  text-align: center;
}

footer {
  border: 3px solid green;
  position: absolute;
  bottom: 0;
}

/* ACTIONS */

.disabled {
  display: none;
}

.play-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-game-style {
  padding: 50px 50px;
  font-size: 35px;
  font-weight: bold;
  border: rgb(37, 37, 37);
  background-color: rgb(37, 37, 37);
  color: rgb(41, 194, 255);
  border: 5px dashed white;
}

.play-game-style:hover {
  background-color: rgb(19, 57, 93);
}
